# Ignore everything
*

# Un-ignore directories so we can traverse them
!*/

# Un-ignore specific file types
!*.pdf
!*.docx
!*.gitignore

# Un-ignore lib directories and their contents anywhere
!**/lib/
!**/lib/**
